.btn-style {
    padding: 8px 20px !important;
    background-color: #B68C5A !important;
    color: white;
}
.legal-row >div{
    background-color: white;
    transition: all 0.99s ease;
    cursor: pointer;
}
.legal-row >div:hover{
    background-color: lightgray;
    transform: scale(1, 1.033);
    overflow: hidden;
}

.img-client{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


.container-main {
   
    background-image: url(./images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.client-main{
    height: 100%;
    overflow: hidden;
    background-color: hsl(0, 0%, 9%);
    background-blend-mode: multiply;
    z-index: 33;
}

@media screen and(max-width: 576px) {
   
}

@media screen and(min-width: 577px) and (max-width: 992px) {
   
}

@media screen and(min-width: 993px) and (max-width: 1200px) {
    
}

@media screen and(min-width: 1201px) {
    
}